*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body {
    margin: 0;
    height: 100vh;
    align-items: center;
    display: flex;
}

.quiz-container{
    margin: auto;
    padding: 2rem; 
    box-shadow: 0 0 0.7rem rgba(8, 8, 8, 0.5);
    border-radius: 1rem;
    max-width: 60%;
    display: flex;
    flex-direction: column;
} 

h2{
    margin-bottom: 1rem;
}

ul{
    margin-bottom: 1.5rem; 
}

ul li{
    list-style: none;
    margin-bottom: 1rem;
    background-color: whitesmoke;
    height: 2rem;
    width: 10rem;
    padding-top: 0.7rem;
    padding-left: 1rem;
    border-radius: 0.3rem;

}

button{
    width: 25%;
    margin: auto;
    margin-top: 2rem;
    padding:1rem;
    border-radius: 0.5rem;
    border-width: thin;
    background-color: blue;
    color: white;
}

button:hover{
    cursor: pointer;
    transition: 0.3s;
}
